<table class="suppressor-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ergonomics</th>
      <th>Recoil</th>
      <th>Cheapest Price</th>
      <th>Vendors</th>
    </tr>
  </thead>
  <tbody>
    <!-- Place suppressor template here -->
  </tbody>
</table>

<template class="suppressor-template">
  <tr class="suppressor">
    <td class="image-name-cell">
      <img class="suppressor-image" src="" alt="" />
      <span class="suppressor-name"></span>
    </td>
    <td class="suppressor-ergonomics"></td>
    <td class="suppressor-recoil"></td>
    <td class="suppressor-cheapest-price"></td>
    <td class="suppressor-sold-by"></td>
  </tr>
</template>